<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>History of Housing Prices in the Bay Area</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="index">Home</a>
                    </li>
                    <li role="presentation"><a href="price">Price</a>
                    </li>
                    <li role="presentation" class="active"><a href="history">History</a>
	            </li>
                </ul>
            </nav>
	    <h3 class="text-muted">History of Housing Prices in the Bay Area</h3>
        </div>
    <div class="container">
        <div class="header">
	<h4>Median Home Prices</h4>
        </div>
      <div class="center-block">
	{{ median_4bedroom_plot|safe }}
      </div>
      <p><small>Hover over lines to see neighborhood</small></p>
      <br>
      <p>This plot shows median prices of 4 bedroom houses for each Bay Area neighborhood. Data is provided by Zillow and spans between April 1996 and October 2016.
     Here you can see a general dip between 2001 and 2002 and another, longer spanning dip between 2008 and 2010. These behaviors are explained by the dotcom crisis and the housing market crisis. The overall trend indicates sky-rocketing housing prices.  
    </div>
     <br>
     <div class="container">
	<div class="header">
	<h4>Normalized Median Home Prices</h4>
      </div>
      {{ median_4bedroom_normalized_plot|safe }}
      <p><small>Hover over lines to see neighborhood
      </small></p>
      <br>
      <p> This plot contains the same data as above, except each line has been normalized by its January 2009 point. Neighborhoods with missing data between January 2009 and October 2016 have been excluded from this plot. Here you can see the power of gentrification, with places such as Mission, San Francisco, increasing in value nearly 5-fold. On the other hand, neighborhoods such as Cabbalo Hills and Glen Highlands in Oakland, lag behind in growth. Furthermore, this plot shows that some neighboorhoods such as Longwood-Winton grove, in Hayward, still haven't fully recovered from the 2008 housing crisis.  
      <br><br>
      <img src="./static/img/Zillowlogo_200x50.gif" alt="Zillow Logo" height="50" width="200" align="right" />
    </div>
	 
        <footer class="footer">
            <p>&copy; Caroline Sofiatti </p>
	    <br>
	    <a href="https://www.linkedin.com/pub/caroline-sofiatti/67/380/181">
	    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Caroline Sofiatti's profile on LinkedIn">
	    </a>
        </footer>
 
    </div>
</body>
 
</html>
