<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>History of Housing Prices in the Bay Area</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="index">Home</a>
                    </li>
                    <li role="presentation"><a href="price">Price</a>
                    </li>
                    <li role="presentation" class="active"><a href="history">History</a>
	            </li>
                </ul>
            </nav>
	    <h3 class="text-muted">History of Housing Prices in the Bay Area</h3>
        </div>
    <div class="container">
        <div class="row">
        <div class="col-xs-6">
        <div class="header">
	<h4>Median 4 Bedroom Home Prices per Neighborhood</h4>
        </div>
      <div class="center-block">
	{{ median_4bedroom_plot|safe }}
      </div>
      <p>Bills are clustered together by use of similar vocabulary.
	Bills that mention similar things are grouped together. For
	example, bills that
	mention education are in a different group than bills that mention
	terrorism. The body of text used to identify each bill was taken from
	the each bill's title. This could be improved if the body of each bill
	was used rather than just the title.
	<br>
	Large dots are "Yay" votes and smaller dots are "Nay" votes,
	and from this visualization you can see Boxer has a tendency to vote
	"Yay" for all bills in some clusters and "Nay" for bills in other
	clusters.</p>
      <p>
	The fact that Boxer has a pattern of voting for or against bills with
	certain content, allows for a model to be built to predict her voting behavior.
	</p>
    </div>
    </div>
    </div>
	
        
	 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Caroline Sofiatti </p>
	    <br>
	    <a href="https://www.linkedin.com/pub/caroline-sofiatti/67/380/181">
	    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Caroline Sofiatti's profile on LinkedIn">
	    </a>
        </footer>
 
    </div>
</body>
 
</html>
